<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.AdminRolePermissionMapper">
    <select id="findAllByRids" resultType="AdminRolePermission" parameterType="java.util.List">
        select * from admin_role_permission
        where rid in
        <foreach collection="list" item="rid" index="index"
                 open="(" separator="," close=")">
            #{rid}
        </foreach>
    </select>

    <select id="findAllByRid" resultType="AdminRolePermission">
        select * from admin_role_permission where rid = #{rid};
    </select>

    <select id="findAll" resultType="AdminRolePermission">
        select * from admin_role_permission;
    </select>

    <delete id="deleteAllByRid" parameterType="_int">
        delete from admin_role_permission where rid = #{rid};
    </delete>


    <insert id="saveAll" parameterType="java.util.List" >
        insert into admin_role_permission(rid,pid) values
            <foreach collection="list" item="adminRolePermission" index="index" separator=",">
                (#{adminRolePermission.rid},#{adminRolePermission.pid})
            </foreach>
    </insert>

    <update id="save" parameterType="AdminRolePermission">
            insert into admin_role_permission(rid, pid) values(#{rid}, #{pid})
    </update>

</mapper>
