<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.AdminMenuMapper">
    <select id="findAllById" parameterType="java.util.List" resultType="AdminMenu">
        select * from admin_menu where id in
            <foreach collection="list" item="menuId" index="index"
                     open="(" separator="," close=")">
                #{menuId}
            </foreach>
    </select>

    <select id="findAllByParentId" parameterType="_int" resultType="AdminMenu">
        select * from admin_menu where parent_id = #{parentId};
    </select>
</mapper>
